name: ci

on: [push, pull_request]

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-20.04
            distro: foxy
          - os: ubuntu-20.04
            distro: galactic
          - os: ubuntu-20.04
            distro: rolling
    steps:
      - uses: ros-tooling/setup-ros@v0.2
        with:
          required-ros-distributions: ${{ matrix.distro }}
      - uses: ros-tooling/action-ros-ci@v0.2
        with:
          package-name: zbar_ros
          target-ros2-distro: ${{ matrix.distro }}
